@mixin breakpoint($point) {
  @if $point == extra {
    @media (min-width: 1142px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 480px) {
      @content;
    }
  } @else {
    @media (min-width: $point) {
      @content;
    }
  }
}

figure {
  margin: 0;
}
img {
  max-width: 100%;
}
.content-new {
  text-align: left;
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

/* Color Swatch
Maroon | #eaeaea | rgb(234, 234, 234);
Pink   | #2f3c4f | rgb(47, 60, 79);
Blue   | #b756a4 | rgb(183, 86, 164);
Gray   | #6b1f0c | rgb(107, 31, 12);
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  background-color: #eaeaea;
  color: #222;
  line-height: 1.4;
  font-size: 15px;
  @include breakpoint(medium) {
    font-size: 1.3em;
  }
}
b,
strong {
  font-weight: 700;
}
i,
em {
  font-weight: 400;
  font-style: italic;
}

h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
  font-weight: 700;
  line-height: 1.1;
  @include breakpoint(medium) {
    line-height: 1.3;
  }
}
h5 {
  font-style: italic;
  margin-bottom: 0.5em;
  font-size: 1em;
}
h2,
h3 {
  margin: 0 0 0.5em 0;
}
p {
  margin: 0 0 1em 0;
}

a,
a:active,
a:hover,
a:visited {
  color: #6b1f0c;
  text-decoration: none;
}

header {
  max-width: 768px;
  margin: 0 auto 1em auto;
  text-align: center;
  h1 {
    border: 1px solid #444;
    border-width: 3px 0 0 0;
    padding: 0.1em 0;
    font-size: 2.5em;
    margin: 0;
    text-align: center;
  }
  p {
    border: 1px double #444;
    border-width: 3px 0;
    margin: 2px 0 0 0;
    font-size: 0.8em;
    padding: 3px 0;
  }
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  text-align: left;
  padding: 10px;
  max-width: 768px;
  margin: auto;
  padding-bottom: 2em;
  clear: both;
}

.title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  h1 {
    margin-top: 0;
    line-height: 1.2;
  }
  p {
    font-size: 0.9em;
  }
}
.volanta {
  font-style: italic;
  margin-bottom: 0.5em;
}
.body-nota {
  div {
    margin-bottom: 1em;
  }
  p {
    text-align: justify;
    line-height: 2;
  }
}
.blockquoteItem {
  position: relative;
  color: #666;
  .quote-character {
    position: absolute;
    font-size: 4em;
    top: -0.2em;
  }
}
a {
  &:hover {
    text-decoration: underline;
  }
}

article {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 1em;
  &::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 1px;
    width: 50%;
    margin: auto;
    border-bottom: 2px solid #ccc;
  }
}
